@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap");

body {
  background-color: #ffefb5;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #ff4000; 
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.tareas-completadas {
  text-decoration: line-through;
  color: #260d0d;
}

.tareas-incompletas {
  text-decoration: none;
  color: red;
}

.boton-guardar,
.boton-editar,
.boton-cancelar,
.boton-eliminar {
  background-color: #ffc803;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.limpiar-tareas{
  background-color: #319190 ;
  color: white
}
.boton-cancelar{
  color: #ff4000;
}

button[type="submit"] {
  margin-top: 10px;
  margin-left: 10px; 
  background-color: #ffc803; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
 
.task-text {
  display: flex;
  align-items: center;
}

.task-text p {
  margin: 0; 
}

.task-actions {
  display: flex;
  align-items: center;
}


input[type="text"] {
  margin-bottom: 10px;
  border: 2px solid #ffc803; 
  border-radius: 10px;
  padding: 5px;
}

textarea {
  border: 4px solid #319190; 
  border-radius: 10px;
  padding: 5px;
  box-shadow: 4px 4px 4px rgba(230, 203, 54, 0.7); 
}

li{
  list-style: none;
}